{% extends 'app.twig' %}

{% block contents %}

    {% include 'welcome.twig' %}

    <form action="/login" method="post">
        <label for="email">Enter Email: </label><br/>
        <input type="email" id="email" name="email" placeholder="example@example.com"/><br/>

        <label for="password">EnterPassword: </label><br/>
        <input type="password" id="password" name="password"><br/>

        <input type="submit" name="submit" value="Login">
    </form>

{% endblock %}