{% extends 'app.twig' %}

{% block contents %}

    {% include 'welcome.twig' %}
    {% include 'errors.twig' %}
    {% include 'message.twig' %}

    <h1>Add Product</h1>

    <form method="post" action="/add">
        <label for="title">Title: </label>
        <input type="text" id="title" name="title"/> <br/>

        <label for="quantity">Quantity: </label>
        <input type="text" id="quantity" name="quantity"/><br/>

        <label for="category">Category: </label>
        <select id="category" name="category">
            {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>

        <br/><br/>

        <input type="submit" name="submit" class="submit" value="Add Product"/>
    </form>

{% endblock %}