{% extends 'app.twig' %}

{% block contents %}

    {% include 'message.twig' %}
    {% include 'welcome.twig' %}
    {% include 'errors.twig' %}

    {% if session.id is defined %}

        {% include 'Products/search.twig' %}

        <br/>

        {% if products.getProducts|length > 0 %}

        {% for product in products.getProducts %}
            <ul>
                <li><b>Title:</b> <a href="product/{{ product.getId }}">{{ product.getTitle }}</a></li>
                <li><b>Category:</b> {{ product.getCategory }}</li>
                <li><b>Quantity:</b> {{ product.getQuantity }}</li>
            </ul>

        {% endfor %}

        {% else %}
            <ul><b>The List of Products Is Empty</b></ul>
        {% endif %}

    {% else %}
        <ul><b>You Must Be Logged In To View Products</b></ul>
    {% endif %}

{% endblock %}