{% extends 'app.twig' %}

{% block contents %}

    {% include 'welcome.twig' %}
    {% include 'message.twig' %}

    {% include 'Products/productInfo.twig' %}

    <form method="get" action="/edit/{{ product.getId }}">
        <b><label for="edit"></label></b>
        <button type="submit" id="edit">Edit</button>
    </form>

    <br/><br/>

    {% include 'Products/delete.twig' %}

{% endblock %}