{% extends 'app.twig' %}

{% block contents %}

    {% include 'welcome.twig' %}

    {% include 'Products/productInfo.twig' %}

    <a href="/edit/{{ product.getId }}">Edit</a><br/><br/>

    <form method="post" action="/delete/{{ product.getId }}">
        <b><label for="delete">Delete</label></b>
        <button type="submit" id="delete">X</button>
    </form>

{% endblock %}