<!DOCTYPE html>
<html lang="en">
<head>
    <title>Product Catalogue</title>
</head>
<body>

<a href="/login">Login</a>

{% block contents %}{% endblock %}

<br/>
<br/>

<a href="/">Home</a> <br/>
<a href="/add">Add Product</a><br/><br/>
<a href="/register">Register</a>

</body>
</html>