<!DOCTYPE html>
<html lang="en">
<head>
    <title>Product Catalogue</title>
</head>
<body>

{% block contents %}{% endblock %}

<br/>
<br/>

<a href="/">Home</a> <br/>
<a href="/add">Add Product</a>

</body>
</html>