    {% if session.id is defined %}

        <div class="welcome">
            <b>Welcome, {{ session.name }}</b> <br/>
            <b>Contact Me: {{ session.email }}</b>
        </div><br/>

        <a class="link" href="/profile">Profile</a>
        <a class="link" href="/logout">Logout</a>

    {% else %}

        <a class="link" href="/login">Login</a>
        <a class="link" href="/register">Register</a>

    {% endif %}

    <br/>
    <br/>