    {% if session.id is defined %}

        Welcome, <b>{{ session.name }}</b> <br/>
        Contact Me: <b>{{ session.email }}</b> <br/>
        <a href="/profile">Profile</a>
        <a href="/logout">Logout</a>

    {% else %}

        <a href="/login">Login</a>
        <a href="/register">Register</a>

    {% endif %}

    <br/>
    <br/>